* {
	margin: 0;
	padding 0;
}

body {
	font-size: 1em;
	padding: 15px 0 30px;
}

.albumHeader {
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid black;
	padding: 0 0 15px 0;
}

.albumCover {
	height: 459px;
	width: 459px;
	background: #fff url("https://dl.dropbox.com/s/evtt8oye4i1pke8/holy-roller-novocaine.jpg?dl=0") no-repeat center top;
	margin: 0 auto;
}

h1 {
	font-size: 3em;
	font-family: 'Pacifico', cursive;
}

h2{
	margin-bottom:0.3em;
}

h2, caption {
	font-size: 1.3em;
	font-weight: normal;
}

.hLabel {
	margin:0 auto;
	padding:15px 0;
	text-align:center;
	font-family:Oleo Script;
	font-size: 150%;
}
ul {
	width:75%;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
}

th {
	background-color: #ddd;
}

th, td {
	padding: 5px;
}