* {
	margin: 0;
	padding 0;
}

.albumHeader {
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid black;
	padding: 15px 0;
}

.albumCover {
	height: 459px;
	width: 459px;
	background: #fff url("https://dl.dropbox.com/s/evtt8oye4i1pke8/holy-roller-novocaine.jpg") no-repeat center top;
	margin: 0 auto;
}

h1 {
	font-family: 'Pacifico', cursive;
}

h2{
	margin-bottom:0.3em;
}

caption {
	font-size: 1.3em;
	font-weight: normal;
	text-align:center;
}

.hLabel {
	margin:0 auto;
	padding:15px 0;
	text-align:center;
	font-family:Oleo Script;
	font-size: 150%;
}

ul {
	width:75%;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

tbody {
	font-style: italic;
}

th {
	background-color: #ddd;
	text-align:center;
}

th, td {
	padding: 5px;
}

a {
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
	background-color: Gold;
}

a:active {
	text-decoration:none;
}