* {
	margin: 0;
	padding 0;
}

body {
	font-size: 1em;
	padding: 15px 0 30px;
}

.albumHeader {
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid black;
	padding: 0 0 15px 0;
}

h1 {
	font-size: 3em;
}

h2{
	margin-bottom:0.3em;
}

h2, caption {
	font-size: 1.3em;
	font-weight: normal;
}

ul {
	width:75%;
	margin: 0 auto;
}

table {
	border-collapse: collapse;
}

th {
	background-color: #ddd;
}

th, td {
	padding: 5px;
}