* {
	margin: 0;
	padding 0;
}

body {
	font-size: 1em;
	padding: 15px 0 30px;
}

p {
	padding: 5px 0;
}

.clear {
	clear:both;
}

.restaurantHeader {
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid black;
	padding: 0 0 15px 0;
	font-size: 3em;
}

.nav {
	list-style: none;
	float: left;
	width: 100%;
	padding: 5px 0 5px 10px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid black;
}

.nav ul {
	list-style-type: none;
	overflow: hidden;
	margin:0;
	padding:0;
}

.nav li {
	float: left;
}

.nav li a {
	display: block;
	padding:15px;
}

.homeContent {
	text-align: left;
	margin: 0 auto;
	clear:both;
	width:370px;
	border: 1px solid black;
	padding: 15px;
}
.footer{
	text-align:center;
	margin: 0 auto;
	clear: both;
	border-top: 1px solid black;
	margin: 15px 0 0 0;
	padding: 10px 0 0 0;
}