* {
	margin: 0;
	padding 0;
}

body {
	font-size: 1em;
	padding: 15px 0 30px;
}

p {
	padding: 5px 0;
}

.clear {
	clear:both;
}

.restaurantHeader {
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid black;
	padding: 0 0 15px 0;
	font-size: 4em;
	font-family: 'Ewert', cursive;
}

.nav {
	list-style: none;
	float: left;
	width: 100%;
	padding: 5px 0 5px 10px;
	border-bottom: 1px solid black;
}

.nav ul {
	list-style-type: none;
	overflow: hidden;
	margin:0;
	padding:0;
}

.nav li {
	float: left;
}

.nav li a {
	display: block;
	padding:15px;
}

.homeContent {
	text-align: left;
	margin: 0 auto;
	clear:both;
	width:370px;
	border: 1px solid black;
	padding: 15px;
	background-color:#eee;
	margin-bottom:15px;
}

.restaurantMenu {
	text-align:center;
	margin:0 auto;
	background-color:#eee;
	clear:both;
	padding: 15px 0;
}
			
			
.menuContent {
	display:inline-block;
	width:25%;
	height:auto;
	padding:15px 30px;
	vertical-align:top;
}

.required {
	font-weight:bold;
}

.footer{
	text-align:center;
	margin: 0 auto;
	clear: both;
	border-top: 1px solid black;
	padding: 10px 0 0 0;
}