.restaurantHeader {
	margin: 0 auto;
	text-align: center;
	padding: 0 0 15px 0;
	font-size: 4em;
	font-family: 'Ewert', cursive;
}

.resImage {
	max-height:250px;
	overflow:hidden;
}


table {
	margin: 0 15px;
}

.carousel-inner .item{
	max-height:400px;
}

.required {
	font-weight:bold;
}

textarea{vertical-align:top;}

input[type=radio],input[type=checkbox]{margin-left:10px;margin-right:5px;}

.footer{
	text-align:center;
	margin: 0 auto;
}